@media(max-width:900px) and (min-width:300px){
    /* INDEX */
    
    .display-index{
        display:block;
        text-align: center;
    }
    #venta-index{
        display:block;
        text-align: center;
    }
    .seccion-fotos{
        display: block;
        text-align: center;
    }
    .seccion-fotos2{
        display: block;
        text-align: center;
    }
    .footer-flex{
        display: block;
        text-align: center;
        
    }
    .column2{
        text-align: center;
    }
    
    .header-position{
        display: block;
    }
    
    #cuerpo-index{
        display: block;

    }
    .anim-img{
        width: auto;
    }

    header{
        display: block;
        position: relative;

    }

    /* palmares */
    .iframe-palmares{
        display:none;
    }

    /* lotes */
    .lotes-body{
        display: block;
    }

    .video-lotes{
        display: none;
        width: auto;
    }

    #imagenes-lotes-venta{
        display: block;
    }
    .imagenes-lotes{
        display: block;
    }
}

@media (max-width:499px) and (min-width:301px){
    .fotografias-ventas{
        width:300px;
        height: 233px;
    }
    .fotografias-ventas2{
        width:300px;
        height: 233px;
    }
    .header-position{
        display: block;
        max-width: fit-content;
    }

    .footer-flex{
        display: block;
        text-align: center;
        max-width: fit-content;
    }

    header{
        display: block;
        position: relative;
        
    }
    
    /* palmares */
     
    .iframe-palmares{
        display:none;
    }

    /* lotes */
    .lotes-body{
        display: block;
    }

    .video-lotes{
        display: none;
        width: auto;
    }

    #imagenes-lotes-venta{
        display: block;
        position: relative;
    }

    .imagenes-lotes{
        display: block;
    }
}